/* .roww {
    gap: 1rem;
  } */

.expect_title{
    position: relative;
    width: 50%;
}
.expect_title::after{
    
    content: '';
    display: flex;
    position: absolute;
    left: 50%;
    margin-top: 1rem;
    transform: translateX(-50%);
    width: 20%; /* Width of the border */
    border-bottom: 2px solid #d10359; /* Border properties */
        
}

.expect_text{
    width: 80%;
    
    font-size: 1.5rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    .expect_col{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    
    }
    
    .expect_title{
        position: relative;
        width: 85%;
        margin-bottom: 3rem;
        margin-top: 2rem;
    }
    .expect_text{
        padding-left: 1rem;
        padding-right: 1rem;
        width: auto;
        font-size: 1.2rem;
    }
        
    .expect_container{
        background-color: #161a3b;
    
        display: flex;
        flex-direction: column;
        
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {
    .expect_title{
        position: relative;
        width: 85%;
        font-size: 2.5rem;
        
    }
    .expect_text{
        width: 70%;
        font-size: 1.5rem;
        /* text-align: justify */
    }

    .expect_textt{
        width: 40%;
        font-size: 1.5rem;
        /* text-align: justify */
    }

    /* .expect_texttitle{
        width: 30%; */
        /* font-size: 1.5rem; */
        /* text-align: justify */
    /* } */
    
    .expect_container{
        background-color: #161a3b;
        /* height: 140vh; */
        display: flex;
        flex-direction: column;
        
    }

    .expect_col{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 0;
    }

    .expect_col-2{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
        padding: 0;
        padding-left: 4rem;
        padding-top: 2rem;
    }

    .expect_text-sm {
        font-size: 1.2rem;
        line-height: 1.6;
        color: #e0e0e0;
        text-align: left;
      }
    

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .expect_text{
        
        font-size: 1.5rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .expect_text{
        font-size: 1.5rem;
    }

    .expect_container{
        flex-direction: row;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .expect_title{
        font-size: 3.5rem;
    }
    .expect_text{
        font-size: 1.5rem;
    }
}